<div *ngIf="loading" class="mt-5 d-flex justify-content-center">
    <div class="spinner-border text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="row">
      <div class="col-9">
          <h4 class="title">Workflows</h4>
          <p class="desc">
             Manage your Workflows here
          </p>
      </div>
  
      <div class="col-3">
      <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#addFiles">
          <img src="assets/icons/plus.svg" /> Upload Document
      </button>
      </div>

  </div>
  <div class="row mt-4">
      <div class="col-12">
          <div class="table-responsive">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">Title</th>
                          <th scope="col">Created at</th>
                          <th scope="col">Type</th>
                          <th scope="col">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let prompt of [1,2,3,4]">
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <img
                            src="assets/icons/eye.svg"
                            class="cursor-pointer"
                          />
                              <img src="assets/icons/trash.svg" class="cursor-pointer"  />
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  
 
 
  <!-- Add Files Modal -->
  <div class="modal fade" id="addFiles">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Add Files</h5>
            <i class="fa-solid fa-xmark" data-bs-dismiss="modal"></i>
          </div>
          <div class="modal-body">
            <div class="mt-3">
              <ngx-dropzone
                (change)="onSelect($event)"
                class="dropzone dropzone-light bg-light-primary"
              >
                <ngx-dropzone-label class="dz-message needsclick">
                  <img class="file-img" src="assets/icons/file-upload.svg" />
                  <h5 class="upload-title mt-2">
                    Drag your files here, or browser
                  </h5>
                  <p class="allows-text">
                    Allows JPG, PNG, PDF, XLS and TEXT. Max size 10MB
                  </p>
                </ngx-dropzone-label></ngx-dropzone
              >
              <div *ngIf="imgValidation" class="invalid-img">
                Files are required
              </div>
              <div
                *ngIf="imgFiles.length > 0"
                class="d-flex align-items-center justify-content-start gap-3 mt-4"
              >
                <ng-container *ngFor="let f of imgFiles">
                  <div class="file-preview">
                    <img
                      *ngIf="isImage(f)"
                      [src]="getImageSrc(f)"
                      alt="Image Preview"
                      class="img-file"
                    />
                    <img
                      *ngIf="!isImage(f)"
                      [src]="getFileIcon(f.type)"
                      class="img-file"
                    />
                    <button (click)="onRemove($event, f)" class="remove-btn">
                      <img src="assets/icons/cross-red.svg" />
                    </button>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-end">
            <button data-bs-dismiss="modal" class="btn btn-outline-secondary">
              Cancel
            </button>
            <button
              [disabled]="loading"
              (click)="onSubmitImg()"
              data-bs-dismiss="modal"
              class="btn btn-primary"
            >
              <span data-text="Submit">{{
                loading ? "Submitting..." : "Submit"
              }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>