.conv-wrapper {
    border-radius: 12px;
    height: 8vh;
}

.search-input {
    padding: 12px;
    padding-left: 20px;
    border-radius: 32px !important;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;

    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.filter-input {
    padding: 5px;
    padding-left: 15px;
    border-radius: 5px !important;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.search-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &:hover {
        cursor: pointer;
    }
}

.dataTables_paginate {
    float: right;
    margin-right: 24px;
    font-family: Outfit, sans-serif;
    color: #8d8d8d;
    border: none;
}

.per-page-item {
    float: left;
    margin-right: 24px;
    font-family: Outfit, sans-serif;
    color: #8d8d8d;
    border: none;
}

.paginate_button {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f4f4f4;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.paginate_button {
    background-color: #f4f4f4;
    color: #333;
    &:hover {
        background-color: #6BE3AA;
        color: #333;
    }
}

.pagination-input {
    width: 40px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination-input:focus {
    border-color: #007bff;
    outline: none;
}

.pagination-input::-webkit-outer-spin-button,
.pagination-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-group input {
    min-width: 150px;
  }
  .input-group {
    flex-wrap: nowrap; /* Ensure all inputs stay in one line */
    overflow-x: auto; /* Allow horizontal scrolling if needed */
  }
  
  .invalid-feedback {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }