.btn-group {
  border-radius: 32px;
  background-color: #ebedef;
  padding: 8px;
  .btn {
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    border: none;
  }
  .btn-selected {
    background-color: #6be3aa;
  }
}
