.header-area {
    &.style-2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        .header-area__inner {
            display: flex;
            align-items: center;
            gap: 30px;
            position: relative;
            border-bottom: 1px solid rgba(18, 18, 18, 0.06);
            height: 80px;

            &>*:first-child {
                margin-inline-end: auto;
            }
        }

        .main-menu li a {
            font-size: 16px;
            font-weight: 600;
        }

        .search-icon {
            color: var(--primary);
        }

        .header__meta {
            @media #{$xs} {
                display: none;
            }
        }
    }

}