<!-- <div *ngIf="loading" class="mt-5 d-flex justify-content-center">
  <div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div> -->
<ng-container>
  <div class="row">
    <div class="col-9">
      <h4 class="title">Guidance</h4>
      <p class="desc">
        Continuously improve your AI Agent’s performance by coaching it on how
        to make decisions, handle tone or certain topics, or retrieve
        information.
      </p>
    </div>
    <div class="col-3">
      <button
        type="button"
        class="btn btn-primary float-end"
        data-bs-toggle="modal"
        data-bs-target="#addGuidance"
      >
        <img src="assets/icons/plus.svg" /> Add New
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Prompt</th>
              <th scope="col">Version</th>
              <th scope="col">Created at</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let guidance of [1,2,3,4,5]">
              <td></td>
              <td></td>
              <td></td>
              <td>
                <img
                  src="assets/icons/edit.svg"
                  data-bs-toggle="modal"
                  data-bs-target="#addGuidance"
                  class="cursor-pointer me-2"
                />
                <img
                  src="assets/icons/trash.svg"
                  class="cursor-pointer"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<!-- Add Website Modal -->
<div
  class="modal fade"
  id="addGuidance"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
  style="background: none"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" style="background: white">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          {{ isEdit ? "Update" : "Add" }} Guidance
        </h5>
        <i
          class="fa-solid fa-xmark"
          data-bs-dismiss="modal"
          (click)="addGuidance.reset(); isEdit = false"
        ></i>
      </div>
      <div class="modal-body">
        <form [formGroup]="addGuidance">
          <div class="row">
            <div class="col-12">
              <small>
                Your guidance instruction can be context specific, like: <br />
                “When customers ask about our pricing, direct them to
                example.com/pricing”
              </small>
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="mb-3">
              <label for="websiteUrl" class="form-label">When</label>
              <input
                type="text"
                [maxlength]="300"
                formControlName="when"
                [ngClass]="{ 'is-invalid': hasError('when') }"
                class="form-control"
                placeholder="eg. When customers ask about our pricing"
              />
              <div class="invalid-feedback">When is required</div>
            </div>
          </div>

          <div class="col-12">
            <div class="mb-3">
              <label for="websiteUrl" class="form-label">Instruction</label>
              <textarea
                [maxlength]="600"
                formControlName="instruction"
                [ngClass]="{ 'is-invalid': hasError('instruction') }"
                type="text"
                class="form-control"
                placeholder="Direct them to example.com/pricing"
              >
              </textarea>
              <div class="invalid-feedback">Instruction is required</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-end">
        <button
          data-bs-dismiss="modal"
          class="btn btn-outline-secondary"
          #closebutton
          (click)="addGuidance.reset(); isEdit = false"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-primary" (click)="saveGuidance()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
