.footer-area {
    &.style-1 {
        background-color: var(--primary);


        .footer-area-inner {
            display: flex;
            flex-wrap: wrap;
            gap: 50px 60px;
            justify-content: space-between;
            padding-top: 128px;
            padding-bottom: 121px;

            @media #{$xxl} {
                padding-top: 98px;
                padding-bottom: 91px;
            }


            @media #{$md} {
                padding-top: 78px;
                padding-bottom: 71px;
            }

            @media #{$sm} {
                padding-top: 58px;
                padding-bottom: 51px;
                grid-template-columns: 100%;
            }
        }

        .footer-area-inner>* {
            min-width: 130px;

            &:nth-child(1) {
                min-width: 418px;

                @media #{$xl} {
                    min-width: 318px;

                }
            }
        }

        .footer-logo {
            img {
                max-height: 42px;

                @media #{$lg} {
                    max-height: 34px;
                }
            }
        }

        .description-text {
            margin-top: 41px;

            @media #{$lg} {
                margin-top: 31px;
            }

            @media #{$md} {
                margin-top: 21px;
            }

            .text {
                max-width: 300px;
                color: var(--white-2);
            }
        }





        .footer-widget-wrapper {
            .title {
                font-size: 24px;
                color: var(--white);

                @media #{$lg} {
                    font-size: 20px;
                }
            }


        }


        .footer-nav-list {
            margin-top: 24px;

            li {
                font-size: 18px;
                line-height: 30px;
                color: var(--white-2);

                a:hover {
                    color: var(--white);
                    letter-spacing: 0.4px;
                }
            }
        }

        .social-links {
            display: flex;
            gap: 24px;

            li {
                line-height: 1;

                a {
                    color: var(--white-2);

                    &:hover {
                        color: var(--white);
                    }
                }
            }
        }

        .copyright-text {
            .text {
                font-size: 16px;
                font-weight: 700;
                color: var(--white-2);

                a {
                    color: var(--white);
                }

            }
        }

        .copyright-area-inner {
            border-top: 1px solid rgba(255, 255, 255, .1);
            display: flex;
            flex-wrap: wrap;
            gap: 10px 60px;
            justify-content: space-between;
            padding: 38px 0;

            @media #{$xxl} {
                padding: 28px 0;

            }

            @media #{$sm} {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}