<nav class="navbar navbar-expand-lg bg-white">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="assets/icons/milo-logo.svg"
        alt="Logo"
        class="d-inline-block align-text-top"
      />
    </a>

    <button class="btn btn-primary" routerLink="/login">SIGN IN</button>
  </div>
</nav>

<div class="container">
  <div class="vh-90 row justify-content-center align-items-center">
    <div class="d-none d-lg-block col-lg-8">
      <div
        class="d-flex flex-column justify-content-center align-items-start gap-3 left-section"
      >
        <h2>
          Unlock the future with AI <br />
          —your smarter decisions <br />
          <span>start here</span>
        </h2>
        <img
          *ngIf="!isVideoPlaying"
          src="assets/icons/auth-vdo-img.png"
          alt="AI Video"
          (click)="playVideo()"
        />
        <video
          *ngIf="isVideoPlaying"
          #authVideo
          src="assets/video/vdo-sample.mp4"
          autoplay
          controls
          loop
          muted
          class="auth-vdo-img"
        ></video>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="right-section">
        <img
          class="logo-img"
          src="assets/icons/milo-logo.svg"
          alt="Milo Logo"
        />
        <div class="title-wrapper">
          <h2 class="title">Start your journey with us</h2>
          <p class="desc">Enter your credential to view all insights</p>
        </div>

        <div class="form-wrapper">
          <form
            [formGroup]="signupForm"
            (ngSubmit)="onSubmit()"
            class="user-form"
          >
            <div class="input-field mb-3">
              <label for="name" class="form-label">Enter name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Enter your name"
                formControlName="name"
                [ngClass]="{ 'is-invalid': hasError('name') }"
              />

              <div class="invalid-feedback text-start">Name is required</div>
            </div>
            <div class="input-field mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter your email address"
                formControlName="email"
                [ngClass]="{ 'is-invalid': hasError('email') }"
              />

              <div class="invalid-feedback text-start">Email is required</div>
            </div>
            <div class="input-field position-relative mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                [type]="passwordType"
                class="form-control"
                id="password"
                placeholder="Enter your password"
                formControlName="password"
                [ngClass]="{ 'is-invalid': hasError('password') }"
              />

              <div class="eye-wrapper">
                <img
                  src="assets/icons/eye-2.png"
                  *ngIf="passwordType === 'password'"
                  class="fa-solid fa-eye"
                  (click)="showPassword('password')"
                />
                <img
                  src="assets/icons/eye-slash.png"
                  *ngIf="passwordType === 'text'"
                  class="fa-solid fa-eye-slash"
                  (click)="showPassword('text')"
                />
              </div>

              <div class="invalid-feedback text-start">
                {{ getErrorMessage("password") }}
              </div>
            </div>
            <div class="input-field">
              <label for="phone" class="form-label">Phone number</label>
              <div class="d-flex align-items-start gap-0">
                <app-phone-dropdown
                  (countrySelected)="onCountrySelected($event)"
                ></app-phone-dropdown>
                <div class="w-100">
                  <input
                    id="phone"
                    type="text"
                    placeholder="Enter phone number"
                    formControlName="phone"
                    [ngClass]="{ 'is-invalid': hasError('phone') }"
                    class="form-control phone-input"
                  />
                  <div class="invalid-feedback text-start">
                    Phone number is required
                  </div>
                </div>
              </div>
            </div>
            <div class="policy-field mb-3 mt-3">
              <input
                id="d-policy"
                type="checkbox"
                formControlName="terms"
                [ngClass]="{ 'is-invalid': hasError('terms') }"
              />
              <label for="d-policy"
                >I agree to <span><a href="#">terms of service</a></span></label
              >
            </div>

            <button
              type="submit"
              class="btn btn-primary w-100 d-flex align-items-center justify-content-center gap-1"
              [disabled]="loading"
            >
              <div
                *ngIf="loading"
                class="spinner-border spinner-border-sm"
                role="status"
              >
                <span class="visually-hidden">Loading...</span>
              </div>
              SIGN UP <img src="assets/icons/arrow-right.svg" />
            </button>

            <p class="note">
              Already have a account?
              <a routerLink="/login">Login Here!</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
