<div *ngIf="loading" class="d-flex justify-content-center">
  <div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<ng-container *ngIf="!loading">
  <div class="row">
    <div class="col-5">
      <h4 class="title">Dashboard</h4>
      <p class="desc">Welcome Back!</p>
    </div>
    <div class="col-7">
      <div class="float-end">
        <ul class="nav nav-pills gap-2">
          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="activeItem === '7'"
              (click)="setActive('7')"
              aria-current="page"
            >
              This week
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="activeItem === '30'"
              (click)="setActive('30')"
            >
              Last 30 days
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              role="button"
              aria-expanded="false"
            >
              More
            </a>
            <ul class="dropdown-menu p-0">
              <li>
                <a
                  class="dropdown-item"
                  [class.active]="activeItem === '60'"
                  (click)="setActive('60')"
                  >Last 2 months</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  [class.active]="activeItem === '180'"
                  (click)="setActive('180')"
                  >Last 6 months</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  [class.active]="activeItem === '365'"
                  (click)="setActive('365')"
                  >Last 12 months</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-3">
      <div class="card shadow-sm">
        <!-- <img class="card-left-img" src="assets/icons/traning.svg" /> -->
        <div class="traning-chart-wrapper">
          <ngx-charts-pie-chart
            [view]="[100, 100]"
            [results]="trainingChartData"
            [scheme]="customColorScheme"
            [doughnut]="true"
            [labels]="false"
            [legend]="false"
            [tooltipDisabled]="false"
            [arcWidth]="0.3"
          >
          </ngx-charts-pie-chart>
        </div>

        <div class="card-body">
          <h4 class="card-subtitle mb-1 text-body-secondary">
            Training Assets
          </h4>
          <p class="card-desc">Total training files</p>
          <div class="d-flex align-items-center justify-content-between mt-2">
            <p class="card-text">{{ stats?.trainingFiles }}</p>
            <div class="trend-stats">
              <img src="assets/icons/trend-up.svg" />
              <p class="trend-text">{{ trainingPercentage }}%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card shadow-sm">
        <img class="card-left-img" src="assets/icons/conversation.svg" />
        <div class="card-body">
          <h4 class="card-subtitle mb-1 text-body-secondary">Conversations</h4>
          <p class="card-desc">Total conversations file</p>

          <p class="card-text mt-2">{{ stats?.conversations }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card shadow-sm">
        <img class="card-left-img" src="assets/icons/handle-time.svg" />
        <div class="card-body">
          <h4 class="card-subtitle mb-1 text-body-secondary">
            Average handle time
          </h4>
          <p class="card-desc">Total handle time</p>

          <p class="card-text mt-2">{{ stats?.averageTime }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card shadow-sm">
        <img class="card-left-img" src="assets/icons/workflow.svg" />
        <div class="card-body">
          <h4 class="card-subtitle mb-1 text-body-secondary">
            Total Work flow
          </h4>
          <p class="card-desc">Total work flow</p>
          <p class="card-text mt-2">{{ stats?.totalWorkflow }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 col-md-5">
      <div class="card">
        <div class="card-body">
          <h4 class="title">Recognition rate</h4>
          <p class="desc">The % of messages understood by your agent.</p>

          <div>
            <ngx-charts-pie-chart
              [scheme]="customColorScheme"
              [results]="recognitionChartData"
              [gradient]="false"
              [legend]="showLegendPie"
              [labels]="showLabels"
              [legendPosition]="legendPosition"
              [doughnut]="isDoughnut"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)"
            >
            </ngx-charts-pie-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-7">
      <div class="card">
        <div class="card-body">
          <h4 class="title">Top Intents</h4>
          <p class="desc">The most popular queries users ask your agent.</p>

          <div>
            <ngx-charts-bar-vertical
              [scheme]="customColorSchemeBar"
              [results]="intentsChartData"
              [gradient]="false"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)"
            >
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <div class="upgrade-card">
        <h2>Turn on good stuff</h2>
        <div class="d-flex align-items-end justify-content-between">
          <div>
            <p>Automatic AI generation for answer based on notes</p>
            <p>Audio generation for answers</p>
            <p class="mb-0">
              More storage options in knowledge, queries, and contact
            </p>
          </div>
          <div>
            <button type="button" class="btn btn-primary">Upgrade</button>
          </div>
        </div>
      </div>
    </div>
  </div></ng-container
>
